<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Document</title>
</head>
<body>
    <h1>hello  <%=user.name%></h1>
    <h2>city: <%= user.city%></h2>
    <div>skills: <% user.skills.forEach((item)=>{%>
       <li><%=item %></li> 
    <%}) %></div>
</body>
</html>